   body
   {
      font-family: Arial, Helvitica, Sans;
      font-size:13px !important;
      background: url('../../_/img/bg_texture.jpg') !important;
   }

   hr
   { border: none !important; }

   .frame
   {
      display: inline-block;
      background: rgba(100,100,100,0.15);
      padding:12px;
      text-align:center;
      vertical-align:top;
      border: 1px solid rgba(128,128,128,0.3);
      border-radius: 5px;
      margin: 15px;
   }

   .span
   { display:block; }

   .info
   {
      display:block;
      font-style:italic;
      font-size:12px;
      padding-left:15px;
   }

   .bigTxt
   {
      display:inline-block;
      vertical-align:top;
      font-size:40px;
      line-height:60px;
      padding-left:10px;
      padding-right:10px;
   }

   .pageNext
   { margin-bottom:800px; }

   .pageHead
   { height:30px; }
